//DAILY DISCOVERY SECTION
//HEADER
#daily-discovery-header{
    @include div-settings(80%, 100%, white, 3px);
    margin: 5rem auto 0 auto;
    border-bottom: 5px solid $main-color;

    h1{
        @include fonts(4rem, $main-color, bold);
        text-align: center;
        padding: 10px 0;
    }
}
#daily-discovery-section{
    @include div-settings(80%, 100%, none, 0);
    margin: 1rem auto 20px auto;

    .daily-discovery-container{
        @include grid-center;
        grid-template-columns: repeat(6, auto);
        grid-gap: 18px;
        row-gap: 16px;

        .daily-discovery-products{
            background-color: white;
            width: 230px;
            cursor: pointer;

            &:hover{
                box-shadow: 0 6px 12px #929292;
            }

            a{
                text-decoration: none;

                &:hover{
                    opacity: 0.9
                }

                img{
                    @include img(100%, 200px);

                }

                .dd-product-name{
                    @include fonts(1.5rem, black, bold);
                    letter-spacing: 1.2px;
                    font-family: $Poppins;
                    margin: 10px 0 0 4px;
                }
                .dd-current-price{
                    @include fonts(2rem, $main-color, bold);
                    letter-spacing: 1.2px;
                    font-family: $Poppins;
                    margin-left: 3px;
                }
                ul{
                    list-style: none;
                    padding-bottom: 10px;

                    li{
                        display: inline-block;
                    }

                    .dd-sale-price{
                        @include fonts(1.5rem, $sale-txt-color, normal);
                        font-family: $Poppins;
                        text-decoration: line-through;
                        letter-spacing: 1.2px;
                        margin-left: 3px;
                    }
                    .dd-sales-off{
                        @include fonts(1.25rem, black, normal);
                        @include position(relative, -1px);
                        letter-spacing: 1.2px;
                        font-family: $Poppins;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    .btn-see-more{
        @include btn-see-more;

        &:hover{
            opacity: 0.8;
        }
    }
}

//MEDIA QUERY (BREAKPOINTS)
//MAX-WIDTH 600px
@include phone-only(mobile-xsm){
    #daily-discovery-header{
        h1{
            font-size: 2rem;
        }
    }
    #daily-discovery-section{
        .daily-discovery-container{
            grid-template-columns: repeat(2, auto);
            gap: 10px;

            .daily-discovery-products{
                width: 145px;

                a{

                    img{
                        @include img(100%, 145px);
    
                    }
    
                    .dd-product-name{
                        font-size: 1.25rem;
                    }
                    .dd-current-price{
                        font-size: 1.5rem;
                    }
                    ul{   
                        .dd-sale-price{
                            font-size: 1.25rem;
                        }
                        .dd-sales-off{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .btn-see-more{
            font-size: 1.5rem;
            width: 125px;
        }
    }
}
/*481 to 768px*/
@include tablet-device(tablet-sm, tablet-md){
    #daily-discovery-header{
        h1{
            font-size: 2.5rem;
        }
    }
    #daily-discovery-section{
        .daily-discovery-container{
            grid-template-columns: repeat(3, auto);
            gap: 10px;

            .daily-discovery-products{
                width: 165px;

                a{

                    img{
                        @include img(100%, 145px);
    
                    }
    
                    .dd-product-name{
                        font-size: 1.25rem;
                    }
                    .dd-current-price{
                        font-size: 1.5rem;
                    }
                    ul{   
                        .dd-sale-price{
                            font-size: 1.25rem;
                        }
                        .dd-sales-off{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .btn-see-more{
            font-size: 1.5rem;
            width: 125px;
        }
    }
}
/*769 to 1024px*/
@include small-screens(screen-sm, screen-md){
    #daily-discovery-header{
        h1{
            font-size: 3rem;
        }
    }
    #daily-discovery-section{
        .daily-discovery-container{
            grid-template-columns: repeat(4, auto);
            gap: 10px;

            .daily-discovery-products{
                width: 165px;

                a{

                    img{
                        @include img(100%, 145px);
    
                    }
    
                    .dd-product-name{
                        font-size: 1.5rem;
                    }
                    .dd-current-price{
                        font-size: 1.75rem;
                    }
                    ul{   
                        .dd-sale-price{
                            font-size: 1.5rem;
                        }
                        .dd-sales-off{
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
        .btn-see-more{
            font-size: 1.5rem;
            width: 125px;
        }
    }
}
/*1025 to 1270px*/
@include desktop-screens(screen-l, screen-xl){
    #daily-discovery-section{
        .daily-discovery-container{
            grid-template-columns: repeat(3, auto);
            gap: 10px;
        }
    }
}
/*1271 to 1640*/
@include desktop-screens(desktop-sm, desktop-md){
    #daily-discovery-section{
        .daily-discovery-container{
            grid-template-columns: repeat(4, auto);
            gap: 10px;
        }
    }
}