@mixin btn-see{
    display: inline-block;
    font-family: $Poppins;
    width: 125px;
    padding: 10px 0 8px 18px;
    border-radius: 3px;
    color: $text-color;
    text-decoration: none;
}
@mixin btn-x-scroll{
    background-color: #FFF;
    color: $slider-arrow-color;
    box-shadow: 0 0 8px $slider-arrow-color;
    padding: 5px 8px;
    margin: 0 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 1;
}
@mixin btn-see-more{
    @include fonts(1.75rem, white, medium);
    display: block;
    margin: 25px auto;
    padding: 10px 0;
    width: 160px;
    border-radius: 3px;
    background-color: $main-color;
    text-align: center;
    text-decoration: none;
    font-family: $Poppins;
    letter-spacing: 1.2px;
    cursor: pointer;
}