$nav-color: #C7BFF5;
$main-color: #8F7FEE;
$nav-color2: #8F7FEE;
$text-color: #FFFFFF;
$slider-arrow-color: #929292;
$sale-txt-color: #A2A2A2;
$web-page-bg-color: #DEDEDE;
$featured-items-color: #45B6FE;
$top-products-color-main: #DCD8F6;
$top-products-color-1: #DFE3F6;
$top-products-color-2: #F2D0CD;
$footer-bg-color: #EBEBE5;
$socials-color: #373636;